server = true
bootstrap_expect = 3
bind_addr = "0.0.0.0"
advertise_addr = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

connect {
  enabled = true
}

addresses {
  http = "0.0.0.0"
  grpc = "127.0.0.1"
}

ports {
  grpc_tls = 8502
}

ui_config {
  enabled = true
}